.wrapper {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
    width: 90vw;
    height: auto;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 400px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(100, 100, 100);
    margin-left: 20px;
    border: outset;
    border-color: rgb(125, 125, 100);
    border-radius: 5%;
    align-items: center;
    overflow: hidden;
}

.gamename {
    color: rgb(0, 0, 0);
    width: 300px;
    font-weight: 700;
    height: 50px;
    margin: 0;
    align-content: center;
    background: rgb(250, 175, 225);
    text-shadow: 1px 1px 3px rgb(125, 125, 100);
}

.img {
    width: 300px;
    height: 150px;
}

.gameinfo, .gameDescription {
    box-sizing: border-box;
    font-weight: 500;
    width: 300px;
    height: 150px;
    overflow: hidden;
    scrollbar-width: thin;
    overflow-y: auto;
    padding: 5px;
    background: rgb(250, 175, 225);
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 3px rgb(125, 125, 100);
}

.newgameinfo {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    font-weight: 500;
    width: 300px;
    height: 35px;
    overflow: hidden;
    background: rgb(250, 175, 225);
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 3px rgb(125, 125, 100);

}

.link, .subButton {
    box-sizing: border-box;
    padding: 5px;
    width: 300px;
    height: 50px; 
    font-weight: 800;
    background: rgb(250, 175, 225);
    text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.subButton:hover, .link:hover {
    color: rgb(225, 235, 131);
}

.subButton {
    box-sizing: border-box;
    padding: 5px;
    width: 300px;
    height: 50px; 

    background-color: rgb(250, 175, 225);
    background-size: 300px 50px;
    text-shadow: 1px 1px 3px rgb(0, 0, 0);

}