.profile_wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    width: 90vw;
    align-items: center;
    height: auto;
    border: 5px outset var(--border1-color);
    overflow: auto;
    background: var(--secBg-color);
}

.bio_wrapper_container {
    display: flex;
    box-sizing: border-box;
    flex-direction: column; 
    width: 50%;
    height: 300px;
    margin: 0;
    color: var(--main-color);
    font-size: large;
    font-weight: 500;
    border: 1px solid var(--border1-color);
    
}

.bio_wrapper_top {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--border1-color);
}

.bio_wrapper_bottom {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid var(--border1-color);
}

.bio_wrapper_left {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--border1-color);
}

.bio_edit {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 1px solid var(--border1-color);
}

.bio_title {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 1px solid var(--border1-color);
}

.bio_img {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: start;
    width: 200px;
    border: 1px solid var(--border1-color);
}

.bio_info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    height: 50px;
    border: 1px solid var(--border1-color);
}

.bio_info3 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: start;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    overflow: hidden;
    scrollbar-gutter: stable;
    border: 1px solid var(--border1-color);
}

.bio_info4 {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: start;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    scrollbar-gutter: stable;
    border: 1px solid var(--border1-color);
}


/* reviews and stories */


.review_wrap_container {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
    height: auto;
    border: 1px solid var(--border1-color);
}

.review_wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 50%;
    border: 1px solid var(--border1-color);
}

.review_text {
    width: 600px;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--border1-color);
}

.review_name {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--border1-color);
}

.stories_wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 50%;
    border: 1px solid var(--border1-color);
}

.stories_text {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid var(--border1-color);
}

.stories_name {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    width: 100%;
    border: 1px solid var(--border1-color);
}

.review_game_wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    height: auto;
    border: 1px solid var(--border1-color);
}

.review_game {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    color: var(--main-color);
    font-weight: 700;
    font-size: larger;
    padding-left: 10px;
    background-color: var(--secBg2-color);
    border: 1px solid var(--border1-color);
}

.review_cont {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    color: var(--main-color);
    font-weight: 500;
    font-size: large;
    padding-left: 20px;
    border: 1px solid var(--border1-color);
}

.review_del {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    border-radius: 50%;
    width: 100%;
    color: var(--main-color);
    font-weight: 700;
    font-size: larger;
    background-color: var(--secBg2-color);
    border: 1px solid var(--border1-color);
}

@media (max-width: 800px) {
    .bio_wrapper_bottom, .review_wrap_container {
        flex-direction: column;
        width: 100%;
    }
    
}

@media (max-width: 800px) {
    .review_wrap_container {
        position: absolute;
        margin-top: 630px;
        width: 100%;
    }
    
}
@media (max-width: 800px) {
    .review_wrap_container, .review_wrap, .stories_wrap, .bio_info3, .bio_info4, .bio_wrapper_container {
        width: 100%;
    }
    
}




