@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0 0px 0px 0px;
  margin: 0;
  box-sizing: border-box;
  color: rgb(161, 127, 255);
  font-size: x-large;
  background: #0a0a0a;
}
.bigMargin {
  padding-left: 5%;
  padding-right: 5%;
}
