@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-size: x-large;
  background-image: linear-gradient(
    to right,
    rgb(50, 125, 250) 1%,
    rgba(100, 150, 250) 3%,
    rgba(100, 150, 250) 97%,
    rgba(50, 125, 250) 99%
  )
}
.bigMargin {
  padding-left: 3%;
  padding-right: 3%;
}
